.login-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #858484;
}
.login-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    
}
.login-form{
    
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    box-shadow:  10px 10px 9px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 15px;
    align-items: center;   
}
.login-form input{
    margin-bottom: 10px;
    width: 180px;
    padding: 5px;
    border-radius: 10px;
    border: 1px groove #ccc;
}
.login-form h1{
    margin-bottom: 20px;
    font-size:23px;
    font-weight: light;

}
 
.login-form input::placeholder{
    color: #767575;
    font-size: 14px;
    font-weight: light;

}
.login-form button{
    background-color: #150b3b;
    color: rgb(248, 248, 248);
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    width: 100px;
    margin-top: 20px;
    ;
    
}

.login-form p{
    color:rgb(92, 92, 92)
}
.login-form button:hover{
    background-color: #05a6f7;
    color:#fefdfd;
    cursor: pointer;
}